.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    letter-spacing: 0.1em;
    font-size: 2.5em;
    color: var(--tetrary-color)
}