:root {
    --main-color: #F9F5EB;
    --secondary-color: #E4DCCF;
    --tetrary-color: #002B5B;
    --accent-color: #EA5455;
}


body {
    background-color: var(--main-color);
    margin: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--tetrary-color)
}